* {
    margin: 0px;
    box-sizing: border-box;
}

h1 {
    display: flex;
    justify-content: center;
    font: bold 4rem sans-serif;
    color: rgb(182, 180, 180);
    margin: 40px;
}

body {
    background-image: linear-gradient(180deg, rgb(9, 13, 31) 0%, rgb(102, 120, 153) 100%);
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

figure {
    margin: 1rem;
}

figcaption {
    text-align: center;
    position: relative;
    top: -15px;
    background-color: salmon;
}