body {
    background-color: rgb(#ff672a);
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-size: 62.5%;
}

#navbar {
    display: flex;
    justify-content: flex-end;
    background-color: #f7ec32;
    font: bold 3rem sans-serif;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
  z-index: 10;
}

.nav-list {
    display: flex;
    list-style-type: none;
    margin: 2rem;
}

.nav-list a {
    display: block;
    font-size: 2rem;
    padding: 2rem;
    color: #7f54a3;
    text-decoration: none;
}

.nav-list a:hover {
    background: #ff672a;
}

h1 {
    font-size: 4rem;
    font: bold 5rem sans-serif;
    color: #7f54a3;
}

h3 {
    font: bold 2rem sans-serif;
    color: #7f54a3;
}

a {
    text-decoration: none;
}

img {
    display: block;
    width: 100%;
}

figcaption {
    display: flex;
    justify-content: center;
    background: #ff672a;
    background-color: rgba(#ff672a, 0.6);
    position: relative;
    top: -5px;
    height: 20px;
    color: #7f54a3;
    font: bold 0.5rem sans-serif;
}

#welcome-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(45deg, #73cdda 0%, #f7ec32 100%);
}

#projects {
    background: #73cdda;
}

.projects-section {
    text-align: center;
    color: #7f54a3;
    padding: 10rem 2rem;
    background: #73cdda;
    /* width 100% */
}

.project-tile {
    font-size: 2rem;
  padding: 2rem 0.5rem;

}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 4rem;
    background-color: #73cdda;
    /* width: 100% */
    margin: 0 auto;
    margin-bottom: 6rem;
}

.contact-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* width: 100% */
    height: 80vh;
    padding: 0 2rem;
    background: #ff672a;
    background-image: linear-gradient(45deg, #f26730 0%, #73cdda 100%);
}

.btn {
    display: inline-block;
    padding: 1rem 2rem;
    border-radius: 2px;
  }
  
  .contact-section-header > h3 {
    display: flex;
    justify-content: center;
    font-size: 5rem;
    padding: 4rem;
    color: #7f54a3;
    font: bold 5rem sans-serif;
}
  
  @media (max-width: 28.75em) {
    .contact-section-header > h2 {
      font-size: 4rem;
    }
}
  .contact-section-header > p {
    display: flex;
    justify-content: center;
    font-style: italic;
    color: #7f54a3;
    font-size: 2rem;
  }
  
  .contact-links {
    display: flex;
    justify-content: space-around;
    padding: 2rem;
    width: 100%;
    max-width: 980px;
    margin-top: 4rem;
    flex-wrap: wrap;
    font: bold 1em sans-serif;
  }
  
  .contact-details {
    font-size: 2.4rem;
    color: #7f54a3;
    text-decoration: none;
    transition: transform 0.3s ease-out;
    text-shadow: 2px 2px 1px #520492;
  }
  
  .contact-details:hover {
    transform: translateY(6px);
  }

  footer {
    font-weight: 300;
    display: flex;
    justify-content: space-evenly;
    padding: 2rem;
    background: var(--main-gray);
    border-top: 4px solid var(--main-red);
  }
  
  footer > p {
    margin: 2rem;
    font: bold 0.5rem sans-serif;
    color: #ff672a;
  }
  
  footer i {
    vertical-align: middle;
  }
  
  @media (max-width: 28.75em) {
    footer {
      flex-direction: column;
      text-align: center;
    }
  }