body {
    background-image: linear-gradient(45deg, #aeb8b9 0%, #00122c 100%);
}

h1 {
    font: bold 4rem sans-serif;
    margin-top: 40px;
    color: rgb(241, 204, 38);
}

h4 {
    font: bold 1rem sans-serif;
    margin-left: 20px;
    color: rgb(241, 204, 38);
}

:root {
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    font-size: large;
}

li {
    list-style-type: none;
}

.container {
    display: flex;
}

.main {
    margin: 16rem;
}

header, footer {
    display: flex;
    justify-content: center;
    font-size: medium;
}