body {
    background-image: linear-gradient(45deg, #8b8a8a 0%, #e2e2e2 45%);
}

h1 {
    font: bold 6rem sans-serif;
    color: rgb(255, 25, 25);
    text-shadow: 5px 5px 5px rgb(0, 33, 83);
    display: flex;
    justify-content: center;
}

h3 {
    font: normal 1rem sans-serif;
    color: rgb(255, 25, 25);
    display: flex;
    justify-content: center;
}

header {
    border: 1rem solid rgb(0, 99, 228);
}

footer {
    border: 0.66rem solid rgb(0, 99, 228);
}

.conferencebuttons {
    display: flex;
    justify-content: space-evenly;
    margin-top: 60px;
    margin-bottom: 120px;
}

.teamgrid {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

